@model Models.Entidades.Produto

<h2>Excluir Produto</h2>

<h3>Tem certeza que deseja excluir este produto?</h3>

<div>
    <strong>@Model.Nome</strong>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Confirmar</button>
</form>
